.modal-callback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}
.modal-callback.is-hidden {
  display: none;
}
.modal-callback__body {
  background-color: #fff;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
}
.modal-callback__body h2 {
  text-transform: uppercase;
}
.modal-callback__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.modal-callback__body form label span {
  color: red;
  font-size: 10px;
  padding-left: 2px;
}
.modal-callback__body form input {
  border: 1px solid black;
  font-size: 20px;
  padding: 3px 5px;
  border-radius: 4px;
}
.modal-callback__close {
  position: absolute;
  right: 10px;
  top: 10px;
}