.production {
    padding: 50px 0;

    // .production__container

    &__container {
    }

    // .production__products

    &__products {
    }
}
.products-list {
    @media (min-width:997.98px){
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        }

    // .products-list__item

    &__item {
        border-radius: 8px;
        overflow: hidden;
        @media (min-width:997.98px){
            width: calc(50% - 10px);
            }
    }
}
.product-item {
    display: flex;
    margin-bottom: 10px;
    &:hover {
        img {
             transform: scale(1.1);
         }
     }
    // .product-item__img

    &__img {
        width: 45%;
        background-color: #F5F5F5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        overflow: hidden;
        img {
            transition: all 300ms linear;
        }
    }

    // .product-item__content

    &__content {
        width: 55%;
        background-color: #E5E5E8;
        padding: 24px 33px;
        @media (max-width:359.98px){
        padding: 24px 15px;
        }
    }
}
.product-content {
    // .product-content__title
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        color: #55555A;
        text-align: center;
        margin-bottom: 20px;
        @media (max-width:359.98px) {
            font-size: 15px;
        }

    }

    // .product-content__descr

    &__descr {
        margin-bottom: 20px;
    }

    // .product-content__weight

    &__weight {
        font-weight: 700;
        color: #55555A;
        font-size: 18px;
        margin-bottom: 20px;
    }

    // .product-content__price

    &__price {
        color: #53C05E;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
    }

    // .product-content__more

    &__more {
        margin-top: 5px;
        background-color: #55555A;
        text-align: center;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;

    }
}
