.startscreen {
    padding-top: 40px;
}

.startscreen__title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.startscreen-body {
    padding-top: 60px;
    @media (min-width:998px) {
        display: flex;
    }
}

.startscreen-body__image {
    display: flex;
    justify-content: center;
    @media (min-width:998px) {
        flex: 1 1 50%;
    img {
        width: 100%;
    }
    }
    img {
        width: 100%;
        @media (min-width:768px) {
            width: 300px;
        }
    }
}

.body-about {
    display: flex;
    flex-direction: column;
    @media (min-width:998px) {
        flex: 1 1 50%;
    }
}

.body-about__text {
    font-size: 16px;
    @media (min-width:768px) {
        margin-top: 30px;
    }
}

.callback {
    padding: 19px 70px;
    background-color: #55555A;
    text-transform: uppercase;
    color: #E5E5E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (min-width:768px) {
        margin-top: 20px;
        max-width: 353px;
    }
}

