.about-page {

    // .about-page__container

    &__container {
    }

    // .about-page__title

    &__title {
        font-weight: 700;
        font-size: 36px;
        margin-top: 30px;
    }

    // .about-page__list

    &__list {
    }
}
.about-page-list {

    // .about-page-list__item

    &__item {
        @media (min-width:767.98px) {
            display: flex;
        }
    }
}
.about-page-item {
    padding: 20px 0;
    @media (min-width:767.98px) {
        &:nth-child(even) {
            .about-page-item__img {
                order: 2;
            }
            .about-page-item__content {
                order: 1;
            }
        } 
    }
    // .about-page-item__img

    &__img {
        img {
            width: 100%; 
        }
        @media (min-width:479.98px) {
            img {
                margin: 0 auto;
                display: block;
            }
        }
        @media (min-width:767.98px) {
            flex: 0 0 50%;
        img {
            height: 100%;
        }
        }
        @media (max-width:767.98px) {
            margin-top: 10px;
        }
    }

    // .about-page-item__content

    &__content {
    }
}
.about-item-content {
    @media (min-width:767.98px) {
        padding: 0 10px;
    }

    // .about-item-content__number

    &__number {
        font-weight: 800;
        color: #e5e5e8;
        font-size: 50px;
        margin-bottom: 10px;
        @media (max-width:767.98px) {
            text-align: center;
        }
    }

    // .about-item-content__title

    &__title {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media (max-width:997.98px) {
            font-size: 24px;
            text-align: left;
        }
        @media (max-width:767.98px) {
            font-size: 20px;
            text-align: center;
        }
    }

    // .about-item-content__descr

    &__descr {
    }
}

.about-video__youtube {
    padding: 30px 0;
    @media (max-width:767.98px) {
        height: 350px;
    }
    @media (min-width:767.98px) {
        height: 500px;
    }
    @media (min-width:998.98px) {
        height: 700px;
    }
}

