.achievements {
    background-image: url(../../../img/content/pro-nas/content-bg-achievements.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px 0;

    // .achievements__container

    &__container {
    }

    // .achievements__title

    &__title {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
        @media (max-width:767.98px) {
            font-size: 20px;
            
        }
    }
    

    // .achievements__list

    &__list {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        @media (min-width:479.98px) {
            display: flex;
        }
        @media (min-width:767.98px) {
            column-gap: 50px;
            row-gap: 20px;
        }
        @media (min-width:997.98px) {
            // column-gap: 80px;
            // row-gap: 40px;
        }
    }
}
.achievements-list {

    // .achievements-list__item

    &__item {
    }
}
.achievement-item {

    // .achievementitem
    text-align: center;
    h3 {
        font-weight: 700;
        font-size: 40px;
    }
    p {
        font-weight: 700;
        margin-top: 5px;
    }
    @media (min-width:479.98px) {
        flex: 1 1 calc(50% - 50px);
        h3 {
            font-size: 44px;
        }
    }
    @media (min-width:767.98px) {
        flex: 1 1 calc(33% - 50px)
    }
    @media (max-width:767.98px) {
        margin-bottom: 20px;
    }
}
