.footer {
    padding: 15px 0;
    border-top: 1px solid #E5E5E8;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    color: #2F3236;
}

.footer-body__item {
    font-size: 12px;
}