.header {
background-color: #2F3236;
color: #BEBEC3;
min-height:80px;
padding: 10px 0;
    // .header__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        padding-right: 10px;
        @media (min-width:1198.98px) {
            margin-right: 50px;
        }
    }

    // .header__nav

    &__nav {
        flex: 1 1 auto;
        @media (min-width:1198.98px) {
            display: flex;
            align-items: center;
        }
        @media (max-width:1198.98px) {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            height: calc(100vh - 80px);
            width: 100vw;
            background-color: #2F3236;
            opacity: 1;
            visibility: visible;
            transition: all 300ms linear;
           padding-bottom: 100px;
            &.is-hidden {
                opacity: 0;
                visibility: hidden;
            }
        }
        

    }

    // .header__menu-body

    &__menu-body {
        flex: 1 1 auto;
        @media (max-width:1198.98px) {
            display:flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            padding-bottom: 100px;
        }
    }

    // .header__menu

    &__menu {
        display: flex;
        @media (max-width:1198.98px) {
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            overflow-y: auto;
            width: 100%;
        }
    }

    // .header__actions

    &__actions {
        @media (max-width:1198.98px) {
            display:flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            background-color: #2F3236;
        }

    }

    // .header__button

    &__button {
        width: 30px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #BEBEC3;
        position: relative;
        // &.active {
        //     position: absolute;
        //     right: 0;
        //     span {
        //         position: absolute;
        //         top: 15px;
        //         transition: all 200ms linear;
        //         &:nth-child(1){
        //             transform:rotate(45deg);
        //         }
        //         &:nth-child(2){
        //             display: none;
        //         }
        //         &:nth-child(3){
        //            transform: rotate(-45deg); 
        //         }
        //     }
        // }
        span {
            width: 30px;
            height: 1px;
            background: #BEBEC3;
            display: block;
        }
        &::before {
            content:"";
            display: block;
            background: #BEBEC3;
            width: 30px;
            height: 1px;
            top: 0;
            left: 0;
            position: absolute;
            transition: all 300ms linear;
        }
        &::after {
            content:"";
            display: block;
            background: #BEBEC3;
            width: 30px;
            height: 1px;
            bottom: 0;
            left: 0;
            position: absolute;
            transition: all 300ms linear;
        }
        &.active {
            span {
                display: none;
            }
            &::before {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
            &::after {
                bottom: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
        @media (min-width:1198.98px) {
            display: none;
        }
    }
}
.header-menu {
    // .header-menu__item

    &__item {
        color: #BEBEC3;
        transition: all 300ms linear;
        a {
            display: block;
            overflow: hidden;
            position: relative;
            padding: 5px;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #BEBEC3;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-300%);
                transition: all 350ms linear;

            } 
        }
        &:hover {
            color: #ffffff;
        a {
            &::before {
                transform: translateX(-50%);
            }
        }
        }
        @media (min-width:1198.98px) {
            padding: 5px 10px;
        border-right: 1px dashed #64646E;
        &:nth-child(1) {
            border-left: 1px dashed #64646E;
        }
        }
        &._active-page {
            a {
                color: #ffffff;
                font-weight: 600;
            }
        }
    }
}
.header-actions {
    display: flex;
    align-items: center;
    gap: 38px;

    // .header-actions__langs

    &__langs {
        display: flex;
        align-items: center;
    }

    // .header-actions__tel

    &__tel {
        display: flex;
        align-items: center;
    }
}
.menu-langs {

    // .menu-langs__item

    &__item {
        padding: 5px 0;
        &:nth-child(1) {
            border-right: 1px solid #64646E;
            padding-right: 13px;
        }
        &:nth-child(2) {
            padding-left: 13px;
        }
    }
}
